* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(img/developer.png);
    background-repeat: no-repeat;
}
.introduction {
    color: #ffffff;
    display: flex;
    font-size: 40px;
    margin-top: 110px;
    margin-left: 350px;
   
}
.hi {
    animation: intro1 0.8s ease-in-out;
}
@keyframes intro1 {
    0% {
        transform: translateX(-50%) translateY(-100%);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
.name {
    margin-top: 50px;
    margin-left: 30px;
    animation: intro2 1s ease-in-out;
}
@keyframes intro2 {
    0% {
        transform: translateX(-50%) translateY(-100%) rotate(260deg);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
.developer {
   font-size: 50px;
   color: #ffffff;
   margin-left: 350px;
   margin-top: 10px;
   animation: intro3 3s ease-in-out;
}
@keyframes intro3 {
    0% {
        transform: translateX(-100%) translateY(0);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
.askbox {
    display: flex;
     justify-content: center;
    align-items: center;
    /* flex-direction: column;  */
    height: 180px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 500px;
    color: #ffffff;
    font-size: 30PX;
    font-family:monospace
}
.you {
    margin: 50px;
}
.contaniner {
    height: 400px;
    width: auto;
    background-color: rgb(215, 215, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-box {
    height: 380px;
    width: 1200px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
  
}
.card {
    background-color: rgb(0, 0, 0);
    width: 320px;
    height: 320px;
   background-color: #000000fe;
    margin: 30px auto;
    justify-content: center;
    color: #0088ff;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
}
.card img {
    border-radius: 12px;
}
.card h1 {
    text-align: center;
    margin-top: 10px;
}
.card p {
    color: #15ff00;
    text-align: center;
    margin-top: 20px;
}

.information-box {
    height: 400px;
    width: auto;
    background-color: blue;
    display: flex;
    margin-top: 20px;
    color: #ffffff;
}
.about-box {
    padding: 20px;
    background-color: orangered;
}
.about-box p {
    margin-top: 30px;
    font-size: 19px;
}

.contact-box {
    padding: 20px;
    background-color: fuchsia;
}
.contact-box p {
    margin-top: 30px;
    font-size: 19px;
}
.fotter {
    height: 100px;
    width: auto;
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 28px;
}